html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: radial-gradient(circle, black, rgb(32, 32, 32));
	color: white;
	text-align: center;
	overflow-y: hidden;
}

.center {
	width: 50%;
	margin: 0 auto;
}

button {
	box-shadow: none;
	box-sizing: border-box;
	padding: 5px;
	transition: 0.3s;
}

button:hover {
	background-color: rgb(182, 182, 182);
	border-radius: 10px;
}

.wrapper {
	margin-top: 5%;
}

#inventory {
	text-decoration: none;
}

#inventory div:hover {
	text-decoration: underline;
	cursor: pointer;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#panelSelect button {
	background-color: #000000;
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #ffffff;
	margin: 0.3em 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	transition: all 0.2s;
}

#panelSelect button:hover {
	color: #000000;
	background-color: #ffffff;
}

.slider {
	-webkit-appearance: none;
	width: 10%;
	height: 20px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #ffffff;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #ffffff;
	cursor: pointer;
}

.extra-info {
	margin: 0;
	font-size: 12px;
	color: gray;
}
