html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: radial-gradient(circle, black, rgb(32, 32, 32));
	color: white;
	text-align: center;
	overflow-y: hidden;

}

.center {
	width: 50%;
	margin: 0 auto;
}

button {
	box-shadow: none;
	box-sizing: border-box;
	padding: 5px;
	transition: 0.3s;
}

button:hover {
	background-color: rgb(182, 182, 182);
	border-radius: 10px;
}

.wrapper {
	margin-top: 5%;
}

#inventory {
	text-decoration: none;
	
}

#inventory div:hover {
	text-decoration: underline;
	cursor: pointer;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
